section#about-us {
  max-width: 658px;
  margin: 0px auto;
  padding-top: 50px;
  margin-bottom: 50px;

  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 40%
    ),
    url(../../assets/bg-art.png);

  h1 {
    text-align: center;
    margin-bottom: 27px;
  }

  p {
    text-align: center;
  }
}

@media (min-width: 1600px) {
  section#about-us {
    max-width: 900px;
    margin-bottom: 70px;
  }
}
