footer#page-footer {
  padding: 40px;
  display: flex;
  flex-direction: column;

  img {
    align-self: center;
  }

  p {
    text-align: center;
    margin-top: 10px;
    font-family: var(--text-font);
    color: var(--color-gray4);

    a {
      color: var(--primary-color);
    }
  }
}

@media (min-width: 1200px) {
  footer#page-footer {
    padding: 80px;
    padding-bottom: 60px;
  }
}
