section#how-will-we-do-this {
  display: flex;
  flex-direction: column;

  margin-top: 70px;
  position: relative;

  h1 {
    margin-bottom: 27px;
  }

  p {
    margin-bottom: 10px;
  }

  img {
    position: inherit;
    width: 100%;
    max-width: 400px;
    align-self: flex-end;
  }
}

@media (min-width: 992px) {
  section#how-will-we-do-this {
    margin-bottom: 72px;

    p {
      max-width: 55%;
    }

    img {
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      margin-bottom: -72px;
    }
  }
}

@media (min-width: 1400px) {
  section#how-will-we-do-this {
    p {
      max-width: 68%;
    }

    img {
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
    }
  }
}

@media (min-width: 1600px) {
  section#how-will-we-do-this {
    max-width: 1428px;
    margin-left: auto;
    margin-right: auto;
  }
}
