@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&family=Roboto&display=swap");

:root {
  --primary-color: #860fe3;
  --primary-color-variant: #ac42ff;
  --secondary-color: #220070;
  --accent-color: #f58a19;

  --title-font: "Nunito", sans-serif;
  --text-font: "Roboto", sans-serif;

  --color-gray2: #4f4f4f;
  --color-gray4: #bdbdbd;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
