.benefitItem {
  border: 1px solid white;
  padding: 25px;

  display: flex;
  flex-direction: column;
}

.iconWrapper {
  background-color: white;
  border-radius: 100%;
  align-self: center;
  padding: 17px;
}

.iconImage {
  width: 48px;
}

.title {
  text-align: center;
  color: white;
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 5px;
}

.description {
  text-align: center;
  color: white;
  font-family: var(--text-font);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.1875rem;
}
